@import "tailwindcss";
@import url("../public/fonts/font/stylesheet.css");

@theme {
    --color-main-500: #3d6fff;
    --color-main-600: #1b44ff;
    --color-background: oklch(20.66% 0.0101 248.31);
    --color-bunker-50: #f3f6f8;
    --color-bunker-100: #e2e9eb;
    --color-bunker-200: #c7d4da;
    --color-bunker-300: #a1b6bf;
    --color-bunker-400: #728e9e;
    --color-bunker-500: #577283;
    --color-bunker-600: #4b606f;
    --color-bunker-700: #2f3842;
    --color-bunker-800: #21282e;
    --color-bunker-900: #21282e;
    --color-bunker-950: oklch(20.66% 0.0101 248.31);
    --color-orange-safety: oklch(68.42% 0.180984 49.9568);
    --color-green-pastel: oklch(64.58% 0.212469 143.5329);
    --color-blue-celestial: oklch(66.31% 0.1467 241.4);
    --icon: 30.6% ;
    --color-blue-ribbon-100: #d8f1ff;
    --color-blue-ribbon-200: #b9e6ff;
    --color-blue-ribbon-300: #89d8ff;
    --color-blue-ribbon-400: #51c0ff;
    --color-blue-ribbon-500: #29a2ff;
    --color-blue-ribbon-600: #1284fe;
    --color-blue-ribbon-700: #0e71f4;
    --color-blue-ribbon-800: #1055bd;
    --color-blue-ribbon-900: #134b95;
    --color-blue-ribbon-950: #112e5a;
    --color-persian-blue-50: #e9f5ff;
    --color-persian-blue-100: #d8ebff;
    --color-persian-blue-200: #b8daff;
    --color-persian-blue-300: #8dc0ff;
    --color-persian-blue-400: #6198ff;
    --color-persian-blue-500: #3d6fff;
    --color-persian-blue-600: #1b44ff;
    --color-persian-blue-700: #1035f2;
    --color-persian-blue-800: #1131c4;
    --color-persian-blue-900: #183297;
    --color-persian-blue-950: #0e1b58;
}

@layer base {
    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

body {
    font-family: "Walsheim" !important;
    background-color: #14181c !important;
    --brand-primary: rgb(138, 180, 248);
    --brand-secondary: rgb(193, 168, 226);
    --brand-alternative: rgb(136, 186, 191);
    --background-site: rgb(0, 0, 0);
    --background-code: rgb(12, 12, 12);
    --text-body: rgb(222, 222, 222);
    --text-comment: rgb(170, 170, 170);
    --text-high-contrast: rgb(230, 230, 230);
    --text-medium-contrast: rgb(202, 202, 202);
    --text-low-contrast: rgb(170, 170, 170);
    --detail-high-contrast: rgb(101, 101, 101);
    --detail-medium-contrast: rgb(25, 25, 25);
    --detail-low-contrast: rgb(21, 21, 21);
    --admonition-note: rgb(138, 180, 248);
    --admonition-warning: rgb(253, 186, 116);
    --admonition-danger: rgb(220, 38, 38);
    --brand-primary-rgb-value: 138, 180, 248;
    --brand-secondary-rgb-value: 193, 168, 226;
    --brand-alternative-rgb-value: 136, 186, 191;
    --background-site-rgb-value: 0, 0, 0;
    --background-code-rgb-value: 12, 12, 12;
    --text-body-rgb-value: 222, 222, 222;
    --text-comment-rgb-value: 170, 170, 170;
    --text-high-contrast-rgb-value: 230, 230, 230;
    --text-medium-contrast-rgb-value: 202, 202, 202;
    --text-low-contrast-rgb-value: 170, 170, 170;
    --detail-high-contrast-rgb-value: 101, 101, 101;
    --detail-medium-contrast-rgb-value: 25, 25, 25;
    --detail-low-contrast-rgb-value: 21, 21, 21;
    --admonition-note-rgb-value: 138, 180, 248;
    --admonition-warning-rgb-value: 253, 186, 116;
    --admonition-danger-rgb-value: 220, 38, 38;
}

.fontSPMix {
    font-family: "Spotify Mix", sans-serif !important;
}

.fontGraphik {
    font-family: "Graphik" !important;
}

.display-contents .ProseMirror {
    padding: 0 !important;
    line-clamp: 4;
}

.display-contents .ProseMirror p {
    overflow-wrap: break-word;
    text-wrap: wrap;
}

/* LOADER */

:root {
    --spinner-size: 50px;
    --stroke-width: 5px;
}

.spinner {
    box-sizing: border-box;
    width: var(--spinner-size);
    height: var(--spinner-size);
    padding: calc(var(--stroke-width) / 2);
    overflow: visible;
}

.spinner > circle {
    fill: none;
    stroke: currentColor;
    cx: 50%;
    cy: 50%;
    r: 50%;
    stroke-width: var(--stroke-width);
    stroke-linecap: round;
    transform-origin: center;
    @apply stroke-main-600;
}

/* Character count */
.character-count {
    align-items: center;
    color: var(--color-bunker-300);
    display: flex;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin: 1.5rem;

    svg {
        color: var(--color-main-500);
    }

    &--warning,
    &--warning svg {
        color: var(--color-orange-safety);
    }
}

/* .reactEasyCrop_Container {
    max-width: 640px;
    max-height: 640px;
    margin: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
} */
