.list {
    position: relative;
    margin-bottom: var(--mantine-spacing-md);
}

.tab {
    z-index: 1;
    font-weight: 500;
    transition: color 100ms ease;

    /* &[data-active] {
        color: var(--mantine-color-black);
    } */

}
