.root {
    height: 24px;
}

.track, .bar {
    height: 24px;
    background-color: #EE7000;
}

.track::before {
    background-color: #2F3842;
}

.thumb {
    height: 32px;
    width: 32px;
    border-color: #EE7000;
    background-color: white;
}

.label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 8px;
    background-color: #2F3842 !important;
    transition: all 0.2s;
}

.label:hover {
    background-color: #3C4955 !important;
}

.label:where([data-checked]):hover {
    background-color: #209CE4 !important;
}

.label:where([data-checked]) {
    background-color: #209CE4 !important;
}